* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.banner {
  flex-direction: column;
  flex-wrap: wrap !important;
  padding-top: 0 !important;
  height: 100vh;
}
.layer-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  backface-visibility: hidden;
  filter: brightness(0.3);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: absolute;
}
div.container-fluid {
  z-index: 1;
}
.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  width: 15em;
}
div.collapse {
  width: 100%;
}
ul.navbar-nav {
  margin: auto;
}
a.nav-link {
  color: white !important;
  padding: 1em !important;
  transition: all 0.5s;
  font-size: large;
}
.nav-link:hover {
  color: #8f773b !important;
}

.nav-link::after {
  display: block;
  content: "";
  border-bottom: solid 1px #8f773b;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 0% 50%;
}
.nav-link:hover::after {
  transform: scaleX(1);
}
.page-title {
  color: white;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-title h1 {
  font-size: xxx-large;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

/* #8f773b */
.enquiry {
  background-color: #8f773b;
  padding: 0 2rem;
  line-height: 3rem;
  font-size: large;
  color: white;
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  margin-top: 2%;
  text-transform: uppercase;
}
.enquiry i::before {
  vertical-align: -0.25rem !important;
  line-height: unset;
}
.enquiry:hover {
  background-color: #8f773b;
  color: black;
}

.about {
  /* min-height: 100vh; */
  background-color: #ffffff;
  position: relative;
}
.section {
  padding: 5rem 0;
  margin: auto;
}

.title {
  text-align: center;
  padding-bottom: 3rem;
}
.about-us-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-us-image {
  width: 50%;
  margin: auto;
}
.about-us-image img {
  width: 100%;
  border-radius: 10px;
}
.description {
  display: flex;
  width: 50%;
  vertical-align: middle;
  padding: 2em 0 2em 4.5em;
  flex-direction: column;
  justify-content: center;
}
.description p {
  font-size: 1.3rem;
}
/* #f6f6f9 */
.amenities {
  background-color: #f6f6f9;
  position: relative;
}

.title p {
  padding-top: 1.5em;
  line-height: 0;
}
.service-cards {
  justify-content: center;
}
.service-cards .card {
  width: 90%;
  height: 300px !important;
  margin: 2rem auto;
}
.card-background {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  filter: grayscale(50%);
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  background-image: url("../assets/amenities/toileteries-free-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-background:hover {
  border: 1px solid black;
  transform: scale(1.1);
  filter: grayscale(0);
  & .card-body .card-title {
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  }
}
.card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

div.container {
  position: relative;
  z-index: 2;
}
.about-matha {
  display: flex;
  flex-wrap: nowrap;
  color: #ffffff;
}
.quote {
  width: 70%;
  margin: 8% 0;
  padding: 0 5rem 0 1rem;
}
.quote h2 {
  margin-bottom: 1em;
}
.quote p {
  line-height: 1.5;
  margin-bottom: 0;
}
.enquiry-link {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 1rem;
}
.enquiry-link .enquiry {
  width: 80%;
}
.gallery {
  position: relative;
  min-height: 10vh;
  background-color: #ffffff;
}

.gallery-container {
  position: relative;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Hide extra images for sliding */
}

.gallery-images {
  display: flex; /* Display images in a row */
  transition: transform 0.5s ease-in-out; /* Smooth sliding animation */
}

.gallery-images img {
  width: 350px; /* Adjust image width as needed */
  height: 250px; /* Adjust image height as needed */
  margin: 10px; /* Add spacing between images */
  cursor: pointer; /* Change cursor on hover */
  /* transform: scale(1);
  transition: transform 0.2s ease-in-out, all 0.2s ease-in-out; */
  border-radius: 10px;
}

/* gallery-images img:hover {
  margin: auto 2rem;

  transform: scale(1.1);
}. */

.prev-button,
.next-button {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 10px;
}

.prev-button-room,
.next-button-room {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: rgba(110, 110, 110, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.prev-button-room {
  left: 20px;
}

.next-button-room {
  right: 20px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears above other content */
}
.lightbox img {
  max-width: 100%;
  max-height: 100%; /* Ensure full-screen display */
}

.packages {
  background-color: #f6f6f9;
  position: relative;
}
.room-cards .card {
  flex-direction: row !important;
  margin: auto;
  max-height: 230px;
  height: 230px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
  cursor: pointer;
}
.image-area {
  height: 100%;
}
img.room-images {
  height: 100%;
}
.room-cards .card .card-body {
  position: relative;
  text-align: start;
}
.service-icons {
  margin-bottom: 0;
}
.service-icons img {
  height: 30px;
  width: 30px;
}
.service-icons img:not(:last-child) {
  margin-right: 10px;
}

.rooms-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears above other content */
}
.close-modal {
  color: white;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 100%;
  transform: translate(-100%, 0);
  font-size: xxx-large;
  line-height: 0.5;
  padding: 0 1rem;
  cursor: pointer;
}

.room-images {
  max-width: 100vw;
  max-height: 100vh;
}
.room-images img {
  max-width: 100vw;
  max-height: 100vh;
}

.location {
  position: relative;
  max-width: 100%;
}

.location .section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-title {
  width: 40%;
}
.location-title {
  & h1 {
    line-height: 1.5em;
  }
  & p {
    font-size: larger;
  }
}

.map {
  width: 50%;
  text-align: center;
}

.map iframe {
  max-height: 300px;
  border: none;
  border-radius: 10px;
}
.map footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
  font-size: 14px;
}

.queries {
  background-color: #f6f6f9;
  max-width: 100%;
}
.form-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.query-form {
  width: 50%;
  margin: 0 5%;
}
.form-container .btn-lg {
  padding: 0.5rem 2rem;
  color: #ffffff;
  text-transform: uppercase;
}
.form-container form {
  background-color: #11202a;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;

  & h1 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  & input,
  & textarea {
    border-radius: 0;
  }
  & button {
    margin-bottom: 2rem;
    font-size: 15px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  }
}
form .form-control:focus {
  border-color: none;
  box-shadow: none;
}
.query-title {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 2rem;
  }
  p {
    text-align: center;
    font-size: large;
  }
}
.divider-with-text {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.divider {
  width: 30%;
  height: 0.5px;
  background-color: rgba(204, 204, 204, 0.5);
  margin: 10px;
}

.text {
  font-size: 16px;
  padding: 0 10px;
}
/* #11202a */
.footer {
  background-color: #11202a;
}
.footer .logo img {
  width: 10em;
}
.footer-content ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.social-icons {
  margin-top: 1rem;
}
.social-icons:not(:last-child) {
  margin-right: 1rem;
}
.social-icons a {
  background-color: #8f773b;
  border-radius: 10px;
}
.social-icons a:hover i {
  color: #11202a;
  transition: all 0.2s ease-in-out;
}

.contacts {
  margin-top: 3rem;
}
.nav-item span {
  color: white;
  margin: 2rem;
  font-size: larger;
}

hr {
  color: #888 !important;
}
small {
  color: #888;
  text-align: center;
  width: 100%;
  display: block;
  padding: 1em;
}
/* media */
@media screen and (max-width: 991px) {
  .card {
    height: 200px !important;
  }
}
@media screen and (max-height: 649px) {
  .logo img {
    width: 12em;
  }
}

@media (max-height: 599px) {
  .page-title {
    margin: 5%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
}
